div.row.cont(ng-controller="tasksCtrl")
  div.col-md-2.left-column
    div(ng-include="'/partials/left-column'") 
  div.col-md-6.middle-column
    div(ng-include="'/partials/middle-column'")
  div.col-md-4.right-column
    div(ng-include="'/partials/right-column'")    