doctype html
head
  title Organizer
  link(rel="stylesheet", href="/css/bootstrap.css")
  link(rel="stylesheet", href="/libs/bootstrap-timepicker/css/bootstrap-timepicker.css")
  link(rel="stylesheet", href="/libs/toastr/toastr.css")
  link(rel="stylesheet", href="/css/organizer.css")
body(ng-app='Organizer')
  block main-content
  include scripts