script(type="text/javascript", src="/libs/jquery/dist/jquery.js")
script(type="text/javascript", src="/libs/toastr/toastr.js")
script(type="text/javascript", src="/libs/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/libs/bootstrap-timepicker/js/bootstrap-timepicker.js")
script(type="text/javascript", src="/libs/angular/angular.js")
script(type="text/javascript", src="/libs/angular-bootstrap/ui-bootstrap.js")
script(type="text/javascript", src="/libs/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript", src="/libs/angular-route/angular-route.js")
script(type="text/javascript", src="/libs/angular-resource/angular-resource.js")
script(type="text/javascript", src="/libs/angular-ui-utils/ui-utils.js")
script(type="text/javascript", src="/app/organizer.js")
script(type="text/javascript", src="/app/controllers/loginCtrl.js")
script(type="text/javascript", src="/app/services/mvIdentity.js")
script(type="text/javascript", src="/app/services/mvFilter.js")
script(type="text/javascript", src="/app/services/mvAmountOfTasks.js")
script(type="text/javascript", src="/app/services/mvUsers.js")
script(type="text/javascript", src="/app/services/mvTasks.js")
script(type="text/javascript", src="/app/services/mvSubTasks.js")
script(type="text/javascript", src="/app/services/mvAuth.js")
script(type="text/javascript", src="/app/services/mvNotifier.js")
script(type="text/javascript", src="/app/controllers/tasksCtrl.js")
script(type="text/javascript", src="/app/controllers/signUpCtrl.js")
script(type="text/javascript", src="/app/controllers/profileCtrl.js")


